<!doctype html>
<html>
  <head>
    <title>HAL gpustat-web</title>
    <style>
        body { overflow-x: scroll;}
        div, span, pre {
		font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; !important;
		font-size: 13px;
		line-height: 14px;
	}
	div#warning_container {
		margin-top: 10px;
	}
	div.warnings {
		margin-left: 24px;
	}
        nav.header {
		font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; !important;
		font-size: 13px;
		margin-bottom: 10px;
	}
        nav.header a, nav.header a:visited { color: #329af0; text-decoration: none; }
        nav.header a:hover { color: #a3daff; }

        #gpustat { line-height: 0.95; }
        pre.ansi2html-content { white-space: pre; word-wrap: normal; }  /* no line break */
    </style>

    {{ ansi2html_headers | safe }}
  </head>

  <body class="body_foreground body_background" style="font-size: normal;" >

    <nav class="header">
      <a href="https://github.com/wookayin/gpustat-web" target="_blank">gpustat-web</a>
        by <a href="https://github.com/wookayin" target="_blank">@wookayin</a>
      <a href="#" style="margin-left: 20px; color: #666666;"
	 id="autorefresh_button"
	 onClick="toggle_autorefresh(this);">[turn auto-refresh on]</a>
    </nav>

    <div id="gpustat">
      <pre class="ansi2html-content" id="gpustat-content">
      </pre>
    </div>
    <div id="warning_container">
	    diddy:<br>
	    <div id="diddy" class="warnings">
		    1番のGPUはエラーを起こすことが報告されているため，使用を避けて下さい。<br>
		    GPU No.1 does not work well and it may cause an error.<br>
		    So please avoid using GPU No.1.<br>
	    </div>
	    lucina:<br>
	    <div id="lucina" class="warnings">
	    lucinaでは、GPUを2枚までしか並列で使えません。<br>
	    In using lucina, you can only use two GPUs in parallel.<br>
	    2枚で使う場合も、0 - 4から1つ, 5 - 9から1つ選んでください。<br>
	    In using two GPUs, please specify a gpu id from 0 - 4 and the other from 5 - 9.<br>
	    上記以外の方法で複数のGPUを利用すると、プロセスがkillできなくなります。<br>
	    If you do not follow these instructions, you cannot kill the process.
	    </div>
    </div>

  </body>

  <script>
        var ws_protocol = (location.protocol == 'https:' ? 'wss:' : 'ws:');
        var ws = new WebSocket(ws_protocol + "//{{http_host}}/ws");
        ws.onopen = function(e) {
          console.log('Websocket connection established', ws);
          ws.send('gpustat');
        };
        ws.onerror = function(error) {
          console.log("onerror", error);
        };
        ws.onmessage = function(e) {
          var msg = e.data;
          console.log('Received data, length = ' + msg.length + ', ' + new Date().toString());
          document.getElementById('gpustat-content').innerHTML = msg;
        };
        window.onbeforeunload = function() {
          ws.close();  // close websocket client on exit
        };

        var autorefresh = false;
        function toggle_autorefresh(button) {
            if (autorefresh) {
		    javascript:clearTimeout(window.timer);
	    } else {
                    window.timer = setInterval( function() { ws.send('gpustat'); }, {{ interval }});
	    }
	    autorefresh = !autorefresh;
	    button.innerHTML = "[turn autorefresh " + (autorefresh ? "off" : "on") + "]";
	}
  </script>
</html>
